@{
    ViewData["Title"] = "Login";
}

@model MVC.ViewModels.LoginViewModel
@if (!string.IsNullOrEmpty(Model.ErrorMessage)) {
    <div class="alert alert-danger" role="alert">@Model.ErrorMessage</div>
}

<section>
    <h1 class="display-4">Login</h1>
    <hr>
    <form asp-action="Login" asp-controller="Login" method="post">
        <div class="mb-3">
            <label asp-for="Username" class="form-label">Username</label>
            <input asp-for="Username" class="form-control">
            <span asp-validation-for="Username" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label asp-for="Password" class="form-label">Password</label>
            <input asp-for="Password" class="form-control" type="password">
            <span asp-validation-for="Password" class="text-danger"></span>
        </div>
        <button type="submit" class="btn btn-primary">Login</button>
    </form>
</section>

@section Scripts { <partial name="_ValidationScriptsPartial" /> }