@{
    ViewData["Title"] = "Editar Presupuesto";
}

@model SistemaVentas.Web.ViewModels.PresupuestoViewModel

<section>
    <h1 class="display-4">Editar presupuesto</h1>
    <hr>
    <form asp-action="Edit" asp-controller="Presupuestos" method="post" asp-route-id="@Model.IdPresupuesto">
        <input type="hidden" asp-for="IdPresupuesto" />
        <div class="mb-3">
            <label asp-for="NombreDestinatario" class="form-label">Nombre del destinatario</label>
            <input asp-for="NombreDestinatario" class="form-control">
            <span asp-validation-for="NombreDestinatario" class="text-danger"></span>
        </div>
        <button type="submit" class="btn btn-primary">Editar</button>
    </form>
</section>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}