@{
    ViewData["Title"] = "Productos Page";
}

@model List<Presupuesto>

<section>
    <h1 class="display-4">Presupuestos</h1>
    <a asp-action="Create" class="btn btn-primary">Crear presupuesto</a>
    <hr>
    @{
        foreach (Presupuesto presupuesto in Model)
        {
            <div class="mb-4">
                <div class="card">
                    <div class="card-body">
                        <div class="d-flex justify-content-between">
                            <h5 class="card-title">@presupuesto.NombreDestinatario</h5>
                            <p class="card-text">
                                @presupuesto.FechaCreacion.Day/@presupuesto.FechaCreacion.Month/@presupuesto.FechaCreacion.Year
                            </p>
                        </div>
                        <a asp-action="Details" asp-route-idPresupuesto="@presupuesto.IdPresupuesto"
                            class="btn btn-primary">
                            Ver Detalle
                        </a>
                    </div>
                </div>
            </div>
        }
    }
</section>